* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent_container {
    width: 100%;
}

/* navbar */
.navbar {
    padding: 0px 20px;
    width: 100%;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
}

.navbar div {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .nav_child_left a img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.navbar a {
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    color: white;
    width: fit-content;
    height: 100%;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.navbar a:hover {
    background-color: rgb(135, 135, 135);
}

.nav_child_right img {
    width: 140px;
    height: 80%;
    padding: 5px;
}

.nav_child_right a i {
    margin: 0px 5px;
}

.nav_child_right a i.fa-bars {
    font-size: 20px;
}
/* end navbar */
/* main one */
main {
    min-height: 100vh;
    background-image: url(img/hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg);
    background-size: 100% 100%;
    font-family: 'Noto Kufi Arabic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main h3 .services {
    font-size: 35px;
}
main p {
    font-size: 20px;
    margin: 20px 0;
}
main .parent_search {
    position: relative;
}
main input {
    width: 650px;
    height: 65px;
    padding: 5px 15px;
    border: none;
    outline: none;
    font-size: 20px;
}

main button {
    width: 80px;
    height: 80%;
    border: none;
    background-color: #52b035;
    font-size: 13px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
}
/* end section one */
/* section two */
.services {
    /* min-height: 100vh; */
    padding: 50px;
    width: 100%;

}
.services h3 {
    text-align: center;
    font-family: 'Noto Kufi Arabic', sans-serif;
}
.services .parent_services {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.services .parent_services .services {
    width: 23%;
    height: 200px;
    background-image: url(img/bussiness-2c1f54b0bd848ce232a972323a799f3abe75235eb4f00fb0180d4ede6ac390dd.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    margin: 20px auto;
    position: relative;
}
.services .parent_services .services_2 {
    background-image: url(img/development-bb416454cb6338d96f266211eb8d2e10fc669ddb8470ee95eef00c841df903e8.jpg);
}
.services .parent_services .services_3 {
background-image: url(img/social-5598c2401b6ca90eda3df7c69c8c4727dcc937f8cc995096456d8a8773f4d324.jpg);
}
.services .parent_services .services_4 {
    background-image: url(img/remote-64132428314c98f2e8abe5e4b98b3a03f215fdd04788b533f52171026fb30d70.jpg);
}
.services .parent_services .services_5 {
    background-image: url(img/remote-64132428314c98f2e8abe5e4b98b3a03f215fdd04788b533f52171026fb30d70.jpg);
}
.services .parent_services .services_6 {
    background-image: url(img/design-17881dc3ab0928311acc42761ff77c7e9a09e077c326fbc5d373e4fe1b5ad397.jpg);
}
.services .parent_services .services_7 {
    background-image: url(img/audio-93508fbd03c4ca1a20eabc10ecbf7924161d61e7139878bc93641c310d195e13.jpg);
}
.services .parent_services .services_8 {
    background-image: url(img/translate-ad-ad754e21fea72c69a11e1000903e1f848812bc20e3f1033d6e44f15c249dcd61.jpg);
}
.services .parent_services .services::after{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.services .parent_services .services p {
    font-size: 25px;
    width:fit-content;
    color: white;
    z-index: 2;
}